{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
	<head>
    <title>Django Tailwind</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		{% tailwind_css %}
	</head>

	<body class="bg-background">

		<div class="container mx-auto m-20 rounded-2xl bg-white pb-2" >

            <div class="flex space-x-1 px-3  border-b-2 border-gray">
                <a class="mx-2 font-bold py-2 text-gray" href="#">Notification</a>
                <a class="mx-2 font-bold py-2 border-b-4 border-purple " href="#">Todo</a>
            </div>

            <div class="flex py-2 select-none">
                <ul class="mx-8 divide-y-2 divide-gray w-full">
                    <li class="py-2">
                        <input id="chkbox-1" type="checkbox" class="peer/list-1">
                        <label for="chkbox-1" class="font-semibold peer-checked/list-1:line-through ml-2 text-xl">Mandi</label>
                        <p class="ml-7 text-gray select-none font-semibold  my-1">Use content-evenly to distribute rows in a container such that there is an equal amount of space around each item, but also accounting for the doubling of space you would normally see between each item when using content-around</p>

                        <div class="flex ml-7 align-middle my-1">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5 stroke-gray-2"><path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5m-9-6h.008v.008H12v-.008ZM12 15h.008v.008H12V15Zm0 2.25h.008v.008H12v-.008ZM9.75 15h.008v.008H9.75V15Zm0 2.25h.008v.008H9.75v-.008ZM7.5 15h.008v.008H7.5V15Zm0 2.25h.008v.008H7.5v-.008Zm6.75-4.5h.008v.008h-.008v-.008Zm0 2.25h.008v.008h-.008V15Zm0 2.25h.008v.008h-.008v-.008Zm2.25-4.5h.008v.008H16.5v-.008Zm0 2.25h.008v.008H16.5V15Z" /></svg>
                            <p class="mx-1 font-semibold text-gray-2">19 April 2024</p>

                            <p class="mx-4 text-gray font-bold">-</p>

                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5 stroke-gray-2 "><path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z" /></svg>
                            <p class="mx-1 font-semibold text-gray-2">Cahya Mustofa</p>

                        </div>
                    </li>

                </ul>


            </div>



		</div>


	</body>
</html>
